.navbar_wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 101;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.cart_group_header {
  position: relative;
}
.cart_group_header_link {
  display: block;
  position: relative;
  color: #333;
  padding: 6px 0;
}
.cart_group_header_link svg {
  width: 32px;
  line-height: 32px;
  color: #777;
}
.cart_group_header_link--count {
  position: absolute;
  bottom: 29px;
  left: 16px;
  min-width: 21px;
  height: 15px;
  border-radius: 8px;
  color: #fff;
  line-height: 16px;
  text-align: center;
}
input:focus {
  outline: none;
}
.navbar_wrap_search_bar {
  display: flex;
}
.nav-search-box svg {
  color: #828282;
  font-size: 17px;
}
/* Toggle menu icon mobile */
.hamburger-icon {
  width: 24px;
  height: 18px;
  position: relative;
  transform: rotate(0);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 4px;
}
.hamburger-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #777;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0);
  transition: 0.25s ease-in-out;
}
.hamburger-icon span:nth-child(1) {
  top: 0;
}
.hamburger-icon span:nth-child(2),
.hamburger-icon span:nth-child(3) {
  top: 8px;
}
.hamburger-icon span:nth-child(4) {
  top: 16px;
}
.navbar_wrap {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100vw;
  padding: 24px 15px 12px 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.search_box_mobile_group.input_show input {
  /* position: absolute; */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
  left: 0;
}
.search_box_mobile_group.input_show svg {
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
  padding: 20px 15px;
}
.search-input {
  width: 100%;
  margin-left: 60px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  padding: 20px 15px;
  z-index: 99;
  border-color: transparent;
  font-size: 15px;
}
.mb_arrow_left_icon {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 99;
  border-color: transparent;
  font-size: 15px;
}
